// nextflow.config file for dog_gwas_heritability.nf

// docker container and apptainer specifications
process.container = 'vistasohrab/terra-dogagingproject-gwas:v1.0'
apptainer.enabled = true
apptainer.autoMounts = true
apptainer.cacheDir = '/work/pi_elinor_broadinstitute_org/.apptainer/cache'


executor {
  
     exitReadTimeout = '36000 sec'
     queueSize = 300
     submitRateLimit = '120sec'
     pollInterval = '60sec'
     queueStatInterval = '1min'

}

apptainer {
    enabled = true
    autoMounts = true
    pullTimeout = '120m'
}


process {

    executor = 'slurm'
    clusterOptions = '--nodes=1'
   
    withName: FILTER_PLINKSET {
 
        memory = 5.GB
        time = '20m'
 
 
    }

    withName: CREATE_FULL_GRM {

	memory = 32.GB
        time = '2h'
        cpus = 8
       
 
    }

    withName: CALCULATE_CHRLEVEL_LDSCORE {

        memory = 20.GB
        time = '2h'
        cpus = 8
        

    }

    withName: GENERATE_PHENOFILE {

        memory = 12.GB
        time = '20m'
      

}

    withName: CREATE_LDSTRATIFIED_GRMS {

        memory = 10.GB
        time = '3h'
        cpus = 8

    }


    withName: CALCULATE_HERITABILITY_REML_LDSTRATIFIED_CONSTRAINED {
       
       memory = 32.GB
       time = '3h'
       cpus = 8 

    }

    withName: CALCULATE_HERITABILITY_REML_LDSTRATIFIED_NOCONSTRAINT {

       memory = 32.GB
       time = '3h'
       cpus = 8

}

    withName: CALCULATE_HERITABILITY_REML_CONSTRAINED {
        
       memory = 10.GB
       time = '1h'
     
  
    }

    withName: CALCULATE_HERITABILITY_REML_NOCONSTRAINT {

       memory = 10.GB
       time = '1h'
      

}

    withName: GWAS_MLMA_LOCO {

       memory = 20.GB
       time = '12h'
       cpus = 8
      

    }

    withName: MERGE_GWAS_RESULTS {
 
       memory = 8.GB
       time = '30m'
       

}

    withName: CLUMP {
    
       memory = 2.GB
       time = '30m' 
      

    } 
   
    withName: PLOT_MANHATTAN_QQPLOT {

      memory = 32.GB
      time = '1h'
    

    }  

}

